/***************
 * Intro Panel *
 ***************/
body {
	 font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
 
.story-header {
	color : #666;
}

h1 {
	font-size: 40px;
	color: red;
	
}

a {
	text-decoration: none;
	color: white;
	display: inline;
	padding-right: 20px;
}

.title {
	text-align: center;
	font-size: 20px;
	color: gray;
	padding-bottom: 15px;
}

.thumb {
	padding-bottom: 15px;
}

.first {
	padding-left: 10%;
}

.year {
	display: inline-block;
	padding-right: 10%;
	padding-top: 5%;
}

.text {
	width: 240px;
	height: 700px;
	font-size: 14px;
}

.full {
	width:100%;
	margin-top: 300px;
	text-align: center;
	color: white;
}

a:hover {
	color: red;
	text-decoration: none;
}

#banner {
	padding-left: 50px;
	padding-top: 100px;
}

#blackground {
	background-color: black;
	width:100%;
	height:400px;
	//background-image: radial-gradient(#000, #FFF), radial-gradient(#000, #FFF);
}

#seniors-title{
	padding-right: 20px;
}

#big-header-search {
	padding-top: 40px;
	position: relative;
	right: 170px;
}

#profile {
	position: relative;
	top:-30px;
	right: 0px;
}

#rightNav {
	position: absolute;
	top:0px;;
	right:0px;
}

#seniors-title {
	background-image: url(http://cdn-0.nflximg.com/en_us/home/logo_v7.png);
	background-repeat: no-repeat;
	padding-right: 100px;
	padding-top: 40px;
	padding-left: 40px;
	display: inline-block;
	margin: 20px 0px 0px 20px;
}

.story-header p {
	color: white;
	font-size: 22px;
	padding-top: 0px;
	width     : 861px;
}

.story-header .story {
	width         : 850px;
	padding-right : 0px;
}

#header-main {
	text-align: center;
}

/***************
 * Intel Panel *
 ***************/
.story-intel {
	color      : #FFF;
}

/*********************
 * Block quote *
 *********************/
.story-drop {
	color      : #CCC;
	background : #000;
}

.story-drop .bg {
	left  : auto;
	right : 0px;
}

/**************
 * Misc *
 **************/
.blur {
	-webkit-filter: blur(2px);
	-moz-filter   : blur(2px);
	-ms-filter    : blur(2px);
	-o-filter     : blur(2px);
	filter        : blur(2px);
}
.anti-blur {
	-webkit-filter: blur(0px);
	-moz-filter   : blur(0px);
	-ms-filter    : blur(0px);
	-o-filter     : blur(0px);
	filter        : blur(0px);
	}
.btext p{
	color: black;
	text-align: left;
	font-size: 20px;
}
.btext p first{
	padding-top: 40px;
}
.wtext p{
	color: white;
	text-align: left;
	font-size: 20px;
}
#drop {
	font-size: 50px;
	font-style: oblique;
	color: black;
}
.blockq{
	width: 8em;
	color: #030;
	font-size: 4em;
	line-height: 0.9;
	font-style: italic;
	padding: 0.5em;
	margin: 0;
}
.right {
	float: right;
}
.left {
	float: left;
}
.blockq p:first-letter {
	font-size: 3.5em;
	font-weight: bold;
}
.go-back {
    position: fixed;
    bottom: 0.75em;
    left: 0.5em;
    text-decoration: none;
    color: white;
    background-color: #a4a4a4;
    font-size: 12px;
    padding: 10px;
    display: none;
    margin: 0;
    z-index: 1;
    font-family : "Caecilia-Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.go-back:hover {
    color: #5e0000;
    text-decoration: none;
    font-family : "Caecilia-Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.author {
	font-style: italic;
	font-size: 20px;
	font-family: Caecilia-Roman, Verdana, sans-serif;
}
.designer {
	display: inline;
	position: fixed;
	z-index: 1;
	bottom: 0px;
	right: 0px;
	color: white;
	padding-right: 10px;
	padding-bottom: 10px;
	font-family : "Caecilia-Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.end {
	position: absolute;
	overflow: hidden;
}